<div style="float: right">
    <a href="./home">Surrenders</a>
    <a href="./isgs">ISGS</a>
    <a href="./margins">Margins</a>
    <a href="./rras">RRAS</a>
    <a href="./urs_summary">URS Summary</a>
    <a href="./margins_nr">NR Margins</a>
    <a href="./sced_wr">SCED</a>
    <a href="./sced_mileage">SCED Mileage</a>
    <a href="./rtm_wr">RTM</a>
</div>